In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('unemployment.csv')

In [ ]:
df

In [ ]:
df['Demand_occupation'].value_counts()

Registered unemployed    8880
Unemployment demand      5328
Name: Demand_occupation, dtype: int64

In [ ]:
8880/5

1776.0

In [ ]:
5328/3

1776.0

For the first two years, they did not record Unemployment demand

In [ ]:
for i in df[['Neighborhood Name','Gender']]:
  print(i)

Neighborhood Name
Gender

In [ ]:
df_1=df.groupby(['Year'])

In [ ]:
df_1.head()

In [ ]:
df_1['Gender'].value_counts()

In [ ]:
1776/74 #for every man in each neighborhood

24.0

In [ ]:
df.info()

In [ ]:
df_2=df[(df['Year']==2013) & (df['Gender']=='Male')]

In [ ]:
df_2=df_2.groupby(['Month'])

In [ ]:
12*74

888

In [ ]:
df_2

In [ ]:
k=df_2[0:74]

In [ ]:
k

In [ ]:
k=k[k['Neighborhood Name']=='el Raval']

In [ ]:
k.head()

In [ ]:
k['Neighborhood Name'].value_counts()

In [ ]:
4*74*12

3552

Every year 2015, 2016, 2017, there r two genders, two demand unemployment, 74 neighborhoods, 12 months

In [ ]:
df2=pd.read_csv('/content/2023_atur_per_sexe.csv')

In [ ]:
df2

In [ ]:
sex_mapping = {'Homes':'Male',
               'Dones':'Female'
                    }
occupation = {'Atur Registrat':'Registered unemployed',
              'Demanda No Aturats':'Unemployment demand'}
month = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}

In [ ]:
df2=df2.assign(Sexe=df2.Sexe.map(sex_mapping))
df2=df2.assign(Demanda_ocupacio=df2.Demanda_ocupacio.map(occupation))
df2=df2.assign(Mes=df2.Mes.map(month))

In [ ]:
df2

In [ ]:
df2.rename(columns={"Any": "Year", "Mes": "Month", 'Codi_Districte':'District Code', 'Nom_Districte':'District Name', 'Codi_Barri': 'Neighborhood Code',
                    'Nom_Barri':'Neighborhood Name', 'Sexe':'Gender', 'Demanda_ocupacio':'Demand_occupation', 'Nombre':'Number'}, inplace=True)

In [ ]:
df2.info()

In [ ]:
df2.to_csv('/content/2023_unemployment.csv')